[*.cs]

# CS0472: The result of the expression is always the same since a value of this type is never equal to 'null'
dotnet_diagnostic.CS0472.severity = none

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion
